body {
  background-color: #141414;
  margin: 0;
  /* width: 100%;
  height: 100%;
  position: absolute; */
}

div {
  width: 1157px;
  height: 756px;
  background-image: url(./IMG/Стена.png);
  margin: 5%;
}

.header {
  width: 70%;

  border-bottom: #272727 1px solid;
  margin: 0 auto;
}

.navigation,
.logo,
.navigation-item {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  float: left;
  padding: 1rem 0;
}

.navigation {
  float: right;
}

.navigation-item a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 1.3rem 0.5rem;
}
